@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body{
    padding: 0;
    margin: 0;
    color: #ffff;
    font-family: 'amatic sc', sans-serif;
}

.header-wrapper{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #050404, #2E1C2B, #4A1942, #893168); /* o gradiente permite exibir transições suaves entre duas ou mais cores especificadas */
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* define como um elemento pode ser posicionado (renderizado) no documento (página). o elemento passa a aceitar as propriedades Top, Bottom, Left e Right. 
    Com elas você pode alterar o posicionamento do elemento */
    animation: backgroundTransition 8s ease-in-out infinite;                        
}

h1{
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-media{
    margin-top: 1rem; /* PX: o tamanho é absoluto enquanto REM é variável, flexível */
    display: flex;
}

.social-media a{
    text-decoration: none;
    color: #ffff;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid #ffff;
    min-width: 4rem;
    display: flex; /* Define a direção dos flex itens. Pode ser em linha, coluna, etc... */ 
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, .0.025, 0.675, 0.97); /* transitions provê uma forma de controlar a velocidade de uma animação quando há mudanças de propriedades CSS. */
}

a:hover{   /* é usado para selecionar elementos quando você passa o mouse sobre eles. */
    color: #2E1C2B;
    background-color: #ffff;
}

@keyframes backgroundTransition{
    0%{
        background-position: 0% 80%;
    }
    50%{
        background-position: 80% 100%;
    }
    100%{
        background-position: 0% 90%;
    }
}

.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer; /* A propriedade CSS cursor especifica o cursor do mouse mostrado quando o ponteiro do mouse está sobre um elemento. */
    z-index: 9999; /* define a ordem z de um elemento posicionado e seus descendentes ou itens flex */
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace{
    width: 50px;
    height: 2px;
    background-color: #ffff;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle{
    display: none;
}

/* MENU */

.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffff; /* é utilizado para adicionar efeitos de sombra em volta de um elemento. */
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0; /*  especifica a transparência de um elemento, isto é, o grau no qual o background atrás do elemento é sobreposto. */
    visibility: hidden;
    transition: 400ms ease-in-out 0;
}

.menu-items ul{
    list-style-type: none;
}

.menu-items ul li{
    margin: 10px 0;
    color: #2e1c2b;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/* animação do menu */

#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    background-color: #2E1C2B;
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked +.checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    background-color: #2E1C2B;
    top: 48px;
}

#toggle:checked + .checkbox{
    background-color: white;
}

#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax white;
    z-index: 1;
}

#toggle:checked ~ .menu-items{
    visibility: visible;
    opacity: 1;
} 



/* DIV: é um container genérico para conteúdo de fluxo, que de certa forma não representa nada. Ele pode ser utilizado para agrupar elementos para fins de estilos (usando class ou id). */
/* NAV: representa uma seção de uma página que aponta para outras páginas ou para outras áreas da página, ou seja, uma seção com links de navegação. */

.containter{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: none; /* define como os itens flexíveis são colocados no contêiner flexível */
    justify-content: space-between; /* SPACE-BETWEEN: os itens terão espaço entre eles. */
    align-items: center;
    margin: 3rem 0;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;   /* justify content: alinhamento ao longo do eixo principal. Ajuda a distribuir o espaço livre extra restante.
    FLEX-START: distribui no início do eixo (container). FLEX-END: distribui no final do eixo (container).
    SPACE-EVENLY: Os itens terão espaço igual ao redor deles */
    width: 90%;
}

.card{
    height: 300px;
    width: 400px;
    margin: 3rem 0 0;
    background-image: url('./room.jpg');
    background-position: center;
    background-repeat: no-repeat; /* define como as imagens de fundo são repetidas. */
    background-size: cover;  /* especifica o tamanho das imagens de fundo. Ajusta a imagem o mais largamente possível e mantém sua proporção */
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 1px 5px green) invert(0.3%);
    /* filter: grayscale(0.5);  modifica a imagem adicionada para as cores branco e preto. */
    color: #ffff;
    cursor: pointer;
    transition: 0.3s;
}

.card-text{
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before{  /* insere algo antes do conteúdo de cada elemento(s) selecionado(s). */
    content: '' ;   /* é usada com os pseudoelementos ::before e ::after , para inserir o conteúdo gerado. */
    position: absolute;
    width: 100px;
    height: 100px;
    display: block; /* gera uma caixa de elemento de bloco */
    border: 1px solid #ffff;
    opacity: 0;
    transition: 0.3s;
}

.card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper p{
    font-size: 0;
    visibility: hidden; /* deixa de mostrar o elemento, ou seja, ele deixa de ser visível na página mas seu espaço continua ocupado, ou seja, o layout da página não é alterado por causa disto. */
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.card:hover > .card-wrapper::before{   /*  é usado para selecionar elementos quando você passa o mouse sobre eles. */
    opacity: 1;
    width: 350px;
    height: 250px;
}

.card:hover > .card-wrapper p{
    font-size: 14px;
    opacity: 1;
    visibility: visible;
}

